@charset "utf-8";
.text_wrap{
  position: absolute;
  left: 28%;
  top: 10rem;
}
.text_wrap .text{
  position:relative;
  float:left;
  margin-left:0.15rem;
  width:0.64rem;text-align:center;
  height:0.64rem;line-height:0.6rem;
  background:url(../images/text_bg_dark.png) center no-repeat;
  background-size:0.64rem;
  font-size:0.26rem;
  color:#fff;
}
.text_wrap .text i{
  background-color:#010f21;
  display:block;
  border-radius:50%;
  width:0.2rem;height:0.22rem;line-height:0.22rem;
  border:1px solid #fff;
  font-size:0.16rem;
  position:absolute;
  top:-0.06rem;
  right:0rem;
  color:#fff;
  font-style: normal;
}
.text_warp .text.light{
  background:url(../images/text_bg_light.png) center no-repeat !important;
}
.logo{
<<<<<<< HEAD
  width: 1.54rem;
  position: absolute;
    top: 1.6rem;
  left: 1.31rem;
=======
	width: 1.78rem;
	position: absolute;
    top: 1.84rem;
	left: 0.81rem;
>>>>>>> 8b284169b8e5be1849a3f972dcb10255d97d2064
}
.logo img{
  width: 100%;
}
.gamerule{
<<<<<<< HEAD
  width: 1.1rem;
  /*height: 0.88rem;*/
  position: absolute;
  right: 1.22rem;
  top: 1.62rem;
=======
	width: 1.27rem;
	/*height: 0.88rem;*/
	position: absolute;
	right: 0.82rem;
	top: 1.86rem;
>>>>>>> 8b284169b8e5be1849a3f972dcb10255d97d2064
}
.gamerule img{
  width: 100%;
}
.getJiu{
    width: 1.48rem;
    position: absolute;
    bottom: -0.12rem;
    right: 0.16rem;
}
.getJiu img{
  width: 100%;
}
.light_Icon{
<<<<<<< HEAD
  width: 0.4rem;
  height: 0.39rem;
  position: absolute;
  left: 50%;
  top: 50%;
=======
	width: 0.2rem;
	height: 0.2rem;
	position: absolute;
	left: 50%;
	top: 50%;
>>>>>>> 8b284169b8e5be1849a3f972dcb10255d97d2064
}
.light_Icon img{
  width: 100%;
}
.light_shake{
-webkit-animation:shake 1s .2s linear both infinite;
-moz-animation:shake 1s .2s linear both infinite;}
@-webkit-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
@-moz-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
.blur{
  filter:blur(0.1rem);
}