@charset "utf-8";
body{
  transform: scale(1.1)!important;
  -webkit-transform: scale(1.1)!important;
}
.text_wrap{
  position: absolute;
  left: 28%;
  top: 10rem;
  transform: scale(1.16);
  -webkit-transform: scale(1.16);
}
.text_wrap .msg{
  font-size: 0.18rem;
  color: #fff;
  line-height: 0.18rem;
  position: absolute;
  left: 0.12rem;
  top: -0.24rem;
}
.text_wrap .text{
  position:relative;
  float:left;
  margin-left:0.15rem;
  width:0.64rem;text-align:center;
  height:0.64rem;line-height:0.6rem;
  background:url(../images/text_bg_dark.png) center no-repeat;
  background-size:0.64rem;
  font-size:0.26rem;
  color:#fff;
}
.text_wrap .text i{
  background-color:#1D1731;
  display:block;
  border-radius:50%;
  width:0.2rem;height:0.22rem;line-height:0.22rem;
  border:1px solid #fff;
  font-size:0.16rem;
  position:absolute;
  top:-0.06rem;
  right:0rem;
  color:#fff;
  font-style: normal;
}
.text_warp .text.light{
  background:url(../images/text_bg_light.png) center no-repeat !important;
}
.text_wrap .toAward{
  color: #ffffff;
  font-size: 0.17rem;
  line-height: 0.2rem;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  right: -0.8rem;
  top: 0.18rem;
}
#logo{
  width: 1.78rem;
  position: absolute;
  top: 1.14rem;
  left: 0.81rem;
}
#logo img{
  width: 100%;
}
#gamerule{
  width: 1.27rem;
  /*height: 0.88rem;*/
  position: absolute;
  right: 0.82rem;
  top: 1.4rem;
  z-index:555;
  font-size: 0.17rem;
  line-height: 0.17rem;
  color: #ffffff;
  text-align: right;
}
#gamerule .msg2{
  margin-top: 0.22rem;
  text-decoration: underline;
}
#gamerule img{
  width: 100%;
}
.getJiu{
    width: 1.48rem;
    position: absolute;
    bottom: -0.12rem;
    right: 0.16rem;
}
.getJiu img{
  width: 100%;
  position: absolute;
}
.light_Icon{
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
}
.light_Icon img{
  width: 100%;
}
.light_shake{
-webkit-animation:shake 1s .2s linear both infinite;
-moz-animation:shake 1s .2s linear both infinite;}
@-webkit-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
@-moz-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
.blur{
  filter:blur(0.2rem);
}
.findkey{
  width: 100%;
  position: absolute;
  font-size: 0.31rem;
  line-height: 0.31rem;
  color: #fff;
  text-align: center;
  z-index: 56;
  top: 2.6rem;
}
.findkey img{
  width: 0.19rem;
}