@charset "utf-8";
.logo{
	width: 1.54rem;
	position: absolute;
    top: 1.6rem;
	left: 1.31rem;
}
.logo img{
	width: 100%;
}
.gamerule{
	width: 1.1rem;
	/*height: 0.88rem;*/
	position: absolute;
	right: 1.22rem;
	top: 1.62rem;
}
.gamerule img{
	width: 100%;
}




.getJiu{
    width: 1.48rem;
    position: absolute;
    bottom: -0.12rem;
    right: 0.16rem;
}
.getJiu img{
	width: 100%;
}
.light_Icon{
	width: 0.4rem;
	height: 0.39rem;
	position: absolute;
	left: 50%;
	top: 50%;
}
.light_Icon img{
	width: 100%;
}
.light_shake{
-webkit-animation:shake 1s .2s linear both infinite;
-moz-animation:shake 1s .2s linear both infinite;}
@-webkit-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
@-moz-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}