@charset "utf-8";
body{
  transform: scale(1.1)!important;
  -webkit-transform: scale(1.1)!important;
}
.text_wrap{
  position: absolute;
  left: 28%;
  top: 10rem;
  transform: scale(1.16);
  -webkit-transform: scale(1.16);
}
.text_wrap .biglight{
  position: absolute;
  width: 0.5rem;
  left: 0.12rem;
  top: -0.08rem;
  z-index: -1;
}
.text_wrap .msg{
  font-size: 0.18rem;
  color: #fff;
  line-height: 0.18rem;
  position: absolute;
  left: 0.12rem;
  top: -0.24rem;
}
.text_wrap .text{
  position:relative;
  float:left;
  margin-left:0.15rem;
  width:0.64rem;text-align:center;
  height:0.64rem;line-height:0.6rem;
  background:url(../images/text_bg_dark.png) center no-repeat;
  background-size:0.64rem;
  font-size:0.26rem;
  color:#fff;
}
.text_wrap .text i{
  background-color:#1D1731;
  display:block;
  border-radius:50%;
  width:0.2rem;height:0.22rem;line-height:0.22rem;
  border:1px solid #fff;
  font-size:0.16rem;
  position:absolute;
  top:-0.06rem;
  right:0rem;
  color:#fff;
  font-style: normal;
  text-align: center;
}
.text_warp .text.light{
  background:url(../images/text_bg_light.png) center no-repeat !important;
}
.text_wrap .toAward{
  color: #ffffff;
  font-size: 0.17rem;
  line-height: 0.2rem;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  right: -0.8rem;
  top: 0.18rem;
}
#logo{
  width: 1.78rem;
  position: absolute;
  top: 1.14rem;
  left: 0.81rem;
}
#logo img{
  width: 100%;
}
#gamerule{
  width: 1.3rem;
  /*height: 0.88rem;*/
  position: absolute;
  right: 0.82rem;
  top: 1.4rem;
  z-index:555;
  font-size: 0.2rem;
  line-height: 0.17rem;
  color: #ffffff;
  text-align: right;
  /*text-decoration: underline;*/
}
#gamerule .msg span{
  border-bottom:1px solid #ffffff;
  padding-bottom: 0.03rem;
}
#gamerule .msg2{
  margin-top: 0.22rem;
}
#gamerule img{
  width: 100%;
}
.getJiu{
    width: 1.48rem;
    position: absolute;
    bottom: -0.12rem;
    right: 0.16rem;
}
.getJiu img{
  width: 100%;
  position: absolute;
}
.light_Icon{
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
}
.light_Icon img{
  width: 100%;
}
.light_shake{
-webkit-animation:shake 1s .2s linear both infinite;
-moz-animation:shake 1s .2s linear both infinite;}
@-webkit-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
@-moz-keyframes shake{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
.blur{
  filter:blur(0.2rem);
}
.findkey{
  width: 100%;
  position: absolute;
  font-size: 0.31rem;
  line-height: 0.31rem;
  color: #fff;
  text-align: center;
  z-index: 56;
  top: 2.6rem;
}
.findkey img{
  width: 0.19rem;
}

/*流星效果*/
.flystar{
  width:4.25rem;
  height: 2.39rem;
  background: url("../images/flystar/star_end.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index:-1;
  opacity: 0.5;
  transform: scale(0.8);
}
/*流星效果*/
.flystar img {
  width:100%;
}
.flystaranimation{
  -webkit-transform-origin:center center;
  -webkit-animation:fly 2s 0.5s infinite ease-out normal none ;
}
.flystaranimation{
  -moz-transform-origin:center center;
  -moz-animation:fly 2s 0.5s infinite ease-out normal none ;
}
.flystaranimation2{
  -webkit-transform-origin:center center;
  -webkit-animation:fly 1.8s 0s infinite ease normal none ;
}
.flystaranimation2{
  -moz-transform-origin:center center;
  -moz-animation:fly 1.8s 0s infinite ease normal none ;
}
.flystaranimation3{
  -webkit-transform-origin:center center;
  -webkit-animation:fly 2.2s .3s infinite ease normal none ;
}
.flystaranimation3{
   -moz-transform-origin:center center;
   -moz-animation:fly 2.2s .3s infinite ease normal none ;
 }
@-webkit-keyframes fly{
    0%{
      -webkit-transform:translateX(px) translateY(px);
    } 100%{
        -webkit-transform:translateX(-500px) translateY(260px);
      }
  }
.flystaranimation{
     -moz-backface-visibility:visible;
     -moz-transform-origin:center center;
     -moz-animation:fly 1s 0s infinite ease normal none ;
   }
@-moz-keyframes fly{
       0%{
         -moz-transform:translateX(px) translateY(px);
       } 100%{
           -moz-transform:translateX(-500px) translateY(260px);
         }
     }



.popup_unlock_new{
  width:100%;
  /*pdding-left:1.88rem;*/
  color: #ffffff;
  font-size: 0.24rem;
  line-height:0.4rem;
  /*width:5rem;*/
}

.popup_unlock_new .game_rule_1 img{
  width: 0.3rem;
  vertical-align: -0.08rem;
  padding-right: 0.2rem;
}

#popup_rule_new .scrollRule{
  width: 100%;
  padding-left: 0.8rem;
  color: #ffffff;
  font-size: 0.24rem;
  line-height: 0.4rem;
  margin-top: 0.76rem;
  height: 4.26rem;
  overflow: scroll;
  width: 5rem;
}
#popup_rule_new .scrollRule .title{
  font-weight:bold;
  font-size:0.28rem;
  padding-bottom: 0.12rem;
  padding-top: 0.06rem;
}
#popup_rule_new .scrollRule .little{
  /*font-size: 0.18rem;*/
}
#popup_rule_new .scrollRule::-webkit-scrollbar {
  display: none;
}
#popup_rule_new .scrollRule .game_rule_1 img{
  width: 0.3rem;
  vertical-align: -0.08rem;
  padding-right: 0.2rem;
}
#popup_rule_new .downIcon{
  position: absolute;
  width: 0.42rem;
  left: 50%;
  margin-left: -0.21rem;
  bottom: 0.75rem;
}
#popup_rule_new .game_rule_2 .highIcon{
  width:4.74rem;
}
.lightShake{
  -webkit-animation:flash 1s .2s infinite ease both;
  -moz-animation:flash 1s .2s infinite ease both;
}
@-webkit-keyframes flash{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}
@-moz-keyframes flash{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}
/*光影效果*/
.bigLightShake{
  -webkit-animation:flashBig 2.5s .2s infinite ease both;
  -moz-animation:flashBig 2.5s .2s infinite ease both;
}
@-webkit-keyframes flashBig{
  0%,50%,100%{opacity: 1;transform: scale(1.2)}
  25%,75%{opacity: 0;transform: scale(1)}
}
@-moz-keyframes flashBig{
  0%,50%,100%{opacity: 1;transform: scale(1.2)}
  25%,75%{opacity: 0;transform: scale(1)}
}
