body{
  background:url(../images/bg.jpg) center top no-repeat;
  background-size:7.5rem 13.36rem;
  background-color:#01081d;
  width:7.5rem;
  height:13.34rem;
  overflow:hidden;
}
body img{
  position:absolute;
}
#scene{
  width:7.5rem;
  overflow:hidden;
  position:absolute;
  top:0;left:0;
}
.bg_line,.star{
  width:8.64rem;
  margin-left:-0.57rem;
}
.bed{
  width: 4.2rem;
  top: 5.8rem !important;
  left: 0.2rem !important;
}
.light{
  width: 0.24rem;
  right: 2.8rem !important;
  left: initial !important;
  top: 3.6rem !important;
}
.table{
  width: 1.46rem;
  top: 6.5rem !important;
  left: initial !important;
  right: 1rem;
}
.chair{
  width: 1.27rem;
  top: 7.3rem !important;
  left: -0.8rem !important;
}
.tv{
  width: 0.9rem;
  top: 5rem !important;
  right: -0.4rem;
  left: initial !important;
}
.text_wrap{
  position: absolute;
  left: 28%;
  top: 10rem;
}
.text_wrap .text{
  position:relative;
  float:left;
  margin-left:0.15rem;
  width:0.64rem;text-align:center;
  height:0.64rem;line-height:0.6rem;
  background:url(../images/text_bg_dark.png) center no-repeat;
  background-size:0.64rem;
  font-size:0.26rem;
  color:#fff;
}
.text_wrap .text i{
  background-color:#010f21;
  display:block;
  border-radius:50%;
  width:0.2rem;height:0.22rem;line-height:0.22rem;
  border:1px solid #fff;
  font-size:0.16rem;
  position:absolute;
  top:-0.06rem;
  right:0rem;
  color:#fff;
  font-style: normal;
}
.text_warp .text.light{
  background:url(../images/text_bg_light.png) center no-repeat !important;
}
#scene .light_Icon:nth-of-type(1){
  left: 5.3rem!important;
  top: 6.4rem!important;
}
#scene .light_Icon:nth-of-type(2){
  left: 2.06rem!important;
  top: 6.16rem!important;
}
#scene .light_Icon:nth-of-type(3){
  left: 3.32rem!important;
  top: 7.8rem!important;
}
