body{
  background:url(../images/allseason/bg.jpg) center top no-repeat;
  background-size:7.5rem 13.36rem;
  background-color:#01081d;
  width:7.5rem;
  height:13.34rem;
  overflow:hidden;
}
body img{
  position:absolute;
}
#scene{
  width:7.5rem;
  overflow:hidden;
  position:absolute;
  top:0;left:0;
}
.bg_line,.star{
  width:8.64rem;
  margin-left:-0.57rem;
}
.bed{
  width: 4.27rem;
  top: 5.8rem!important;
  right: 1.3rem!important;
  left: initial!important;
}
.tv{
  width: 0.68rem;
  top: 4.35rem !important;
  left: 0.12rem !important;
}
.shoe{
  width: 0.78rem;
  top: 7.6rem !important;
  left: 1.53rem !important;
}
.wall{
  width: 1.83rem;
  top: 5.15rem !important;
  left: 1.53rem !important;
}
.bedside{
  width: 0.78rem;
  top: 6.4rem !important;
  left: initial !important;
  right: 0.18rem;
}
.table{
  width: 1.46rem;
  top: 7.6rem !important;
  left: initial !important;
  right: 0.2rem;
}
#scene .light_Icon:nth-of-type(1){
  left: 6.8rem!important;
  top: 6.52rem!important;
}
#scene .light_Icon:nth-of-type(2){
  left: 2.1rem!important;
  top: 6.6rem!important;
}
#scene .light_Icon:nth-of-type(3){
  left: 6.24rem!important;
  top: 7.92rem!important;
}