body{
  background:url(../images/ht/bg.jpg) center top no-repeat;
  background-size:7.5rem 13.36rem;
  background-color:#01081d;
  width:7.5rem;
  height:13.34rem;
  overflow:hidden;
}
body img{
  position:absolute;
}
#scene{
  width:7.5rem;
  overflow:hidden;
  position:absolute;
  top:0;left:0;
}
.bg_line,.star{
  width:8.64rem;
  margin-left:-0.57rem;
}
.bed {
  width: 4.1rem;
  top: 5.75rem!important;
  right: 0.02rem!important;
  left: initial!important;
}
.door {
  width: 0.43rem;
  top: 3.16rem!important;
  left: 0.6rem!important;
}
.wall {
  width: 0.3rem;
  top: 4.86rem!important;
  left: 0.1rem!important;
}
.toy {
   width: 0.52rem;
   top: 5.66rem!important;
   left: 5.1rem!important;
 }
.table {
  width: 1.14rem;
  top: 6.66rem!important;
  left: 1.1rem!important;
}
.light {
  width: 0.69rem;
  top: 5.76rem!important;
  left: 2.66rem!important;
}
.toplight {
  width: 0.63rem;
  top: 3.66rem!important;
  left: 3.76rem!important;
}